body {
  margin-bottom: 150px;
}
html {
  background: white;
}
a img {
  outline: none;
}
#header-fsa {
  width: 960px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  margin-bottom: 30px;
}
.line-border {
  border-bottom: 1px solid #9fa2a8;
}
.main-body {
  margin-top: 50px;
}
.banner {
  background: #9bc968;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 4px solid #75b530;
  border-bottom: 4px solid #75b530;
  color: white;
  text-transform: capitalize;
}
h2 {
  margin: 0;
}
p.info {
  margin-top: 30px;
  margin-bottom: 30px;
}
.layout-box {
  width: 960px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.line-margin {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.grey-box {
  background: #eee;
  text-align: center;
  min-height: 150px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.footer-header {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 50px;
}
.help-box a {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.circle-numbers {
  height: 30px;
  width: 30px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  border: 1px solid #797e86;
}
.steps-info {
  line-height: 30px;
  color: #7b8087;
}
.steps-info.active, .circle-numbers.active {
  font-weight: bold;
  color: #1c3759;
}
.circle-numbers.active {
  background: #e0f3f8;
  border: 1px solid #62c7e2;
}
.reset {
  padding: 0px;
  margin: 0px;
}
.steps-number-grid-reset {
  margin-right: -18.64235%;
}
.steps li {
  margin-top: 40px;
  margin-bottom: 40px;
}
.header-line {
  border: 1px solid #80858c;
}
.grey-line {
  border: 1px solid #cacaca;
  margin-top: 10px;
}
.page-title {
  font-weight: bold;
  color: #1c3759;
  font-size: 20px;
}
.previous {
  line-height: 68px;
  font-size: 20px;
  font-weight: 500;
}
.review-and-sign-box {
  border: 2px solid #e2e2e2;
  border-radius: 10px;
  margin-top: 20px;
  background: #fafafa;
}
.terms-text-box {
  height: 300px;
  overflow: scroll;
  padding: 10px;
}
.certify-box {
  background: #eef1f4;
  padding: 10px;
  color: #747981;
}
.horizantal-radio-buttons li {
  float: left;
}
.horizantal-radio-buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.h-radio-buttons li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
.h-radio-buttons input {
  display: inline-block;
}
.h-radio-buttons label {
  display: inline;
}

/*
.h-radio-buttons label::before {
      box-shadow: 0 0 0 2px #fff,0 0 0 3px #757575;
      height: 15px;
      line-height: 15px;
      width: 15px;
      border-radius: 100%;
      margin-right: 10px;
  }
  */
.grid-list-box {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding: 16px !important;
}
.arrow_box {
  position: relative;
  background: #eef1f4;
  border: 4px solid #eef1f4;
  padding: 10px;
  margin-top: 20px;
  font-size: 14px;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(238, 241, 244, 0);
  border-bottom-color: #eef1f4;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box:before {
  border-color: rgba(238, 241, 244, 0);
  border-bottom-color: #eef1f4;
  border-width: 16px;
  margin-left: -16px;
}
.arrow_box textarea {
  height: 80px;
}
.arrow_box label {
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
}
button.bd-button-active, [type="button"].bd-button-active {
  background-color: #0071bc;
  color: white;
}
button.bd-button-active:hover, [type="button"].bd-button-active:hover {
  background-color: #0071bc;
  color: white;
}
.question-box-helper-text {
  font-size: 14px;
  margin-top: 10px;
  color: grey;
}
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button, .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none;
  background: white;
}
.arrow{
  width:20px;
  margin-right:20px;
  display:none;
}
.upload-box{
  min-height: 200px;
  width:100%;
  display: table-cell;
  padding:75px;
  text-align: center;
  vertical-align: middle;
  border:2px dashed grey;
  display: block;
}
/*
input, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #5b616b;
  border-radius: 0;
  box-sizing: border-box;
  color: #212121;
  display: block;
  font-size: 1.0625rem;
  height: 50px;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  outline: none;
  padding: 0rem 0.7em;
  width: 100%;
}
*/
a:visited {
  color: #0071bc !important;
}
@media only screen 
and (max-width:320px) {
}
}