
<label for="input-type-textarea" class="reset">Describe what the school told you(or failed to tell you)</label>
<textarea id="input-type-textarea" name="input-type-textarea"></textarea>

<label for="input-type-textarea" class="reset">Describe how this was misleading</label>
<textarea id="input-type-textarea" name="input-type-textarea"></textarea>

<label for="input-type-textarea" class="reset">Describe the financial impact to you</label>
<textarea id="input-type-textarea" name="input-type-textarea"></textarea>

<label for="input-type-textarea" class="reset">Describe how the school communicated this to you ( e.g., brochure, online, phone, in person, email,etc.)</label>
<textarea id="input-type-textarea" name="input-type-textarea"></textarea>

<label for="input-type-textarea" class="reset">If known, provide the name(s) of people who provided this information</label>
<textarea id="input-type-textarea" name="input-type-textarea"></textarea>

<div class="usa-grid reset " style="padding:0px;margin-top:20px;display:none">
   <div class="usa-width-one-half" style="border-right: 2px solid #656565;">
   	Did any of the issues described above affect your decision to enroll in this school?
   </div>
   <div class="usa-width-one-half">
   	<ul class="h-radio-buttons">
   	<li>
   	   <input id="{{pass.text}}" type="radio" ng-model="{{pass.text}}" name="{{pass.text}}" value="yes">
   	   <label for="{{pass.text}}">Yes</label>
   	</li>
   	<li>
   	   <input id="{{pass.text}}" type="radio" ng-model="{{pass.text}}" name="{{pass.text}}" value="no">
   	   <label for="{{pass.text}}">No</label>
   	</li>
   	
   	</ul>
   </div>
</div>
